@model BingoApp.Helpers.BdHelper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="text-center">
        @Html.ActionLink("Draw Ball", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div>
        <table class="table table-dark table-bordered">
            <tr>
            </tr>

            <tr>
                <td style="background-color: red">B</td>
                @foreach (var item in Model.Brow)
                {
                    <td>

                        @{
                            string tmp = item.ToString();

                        }@tmp

                    </td>
                }
            </tr>

            <tr>
                <td style="background-color: orange">I</td>
                @foreach (var item in Model.Irow)
                {
                    <td>

                        @{
                            string tmp = item.ToString();

                        }@tmp

                    </td>
                }
            </tr>

            <tr>
                <td style="background-color: yellow">N</td>
                @foreach (var item in Model.Nrow)
                {
                    <td>

                        @{
                            string tmp = item.ToString();

                        }@tmp

                    </td>
                }
            </tr>

            <tr>
                <td style="background-color:yellowgreen">G</td>
                @foreach (var item in Model.Grow)
                {
                    <td>

                        @{
                            string tmp = item.ToString();

                        }@tmp

                    </td>
                }
            </tr>

            <tr>
                <td style="background-color: lightseagreen">O</td>
                @foreach (var item in Model.Orow)
                {
                    <td>

                        @{
                            string tmp = item.ToString();

                        }@tmp

                    </td>
                }
            </tr>

        </table>
    </div>
    <!-- Card table -->
    <div class="container">
        <div class="column"><h1 class="padit">Balls remaining -> @Model.totalBalls</h1></div>
        <div class="column">
            <table class="table table-bordered">
                <tr>
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <th>G</th>
                    <th>O</th>
                </tr>
                <tr>
                    <td>@Model.intRowB[0]</td>
                    <td>@Model.intRowI[0]</td>
                    <td>@Model.intRowN[0]</td>
                    <td>@Model.intRowG[0]</td>
                    <td>@Model.intRowO[0]</td>
                </tr>
                <tr>
                    <td>@Model.intRowB[1]</td>
                    <td>@Model.intRowI[1]</td>
                    <td>@Model.intRowN[1]</td>
                    <td>@Model.intRowG[1]</td>
                    <td>@Model.intRowO[1]</td>
                </tr>
                <tr>
                    <td>@Model.intRowB[2]</td>
                    <td>@Model.intRowI[2]</td>
                    <td>FREE</td>
                    <td>@Model.intRowG[2]</td>
                    <td>@Model.intRowO[2]</td>
                </tr>
                <tr>
                    <td>@Model.intRowB[3]</td>
                    <td>@Model.intRowI[3]</td>
                    <td>@Model.intRowN[3]</td>
                    <td>@Model.intRowG[3]</td>
                    <td>@Model.intRowO[3]</td>
                </tr>
                <tr>
                    <td>@Model.intRowB[4]</td>
                    <td>@Model.intRowI[4]</td>
                    <td>@Model.intRowN[4]</td>
                    <td>@Model.intRowG[4]</td>
                    <td>@Model.intRowO[4]</td>
                </tr>
            </table>
        </div>
        <div class="column">&nbsp;</div>
    </div>
    
    <div class="text-center">
        @Html.ActionLink("New Board", "Delete", null, new { @class = "btn btn-primary" })
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>